<div class="mat-h1">{{menuItem.title}}</div>
<ul class="comment">
  <li>Set up back end. Install express-fileupload middleware.</li>
  <li>express-fileupload accepts form data. An uploaded file is identified by its form field name.<br>
  <code>let sampleFile = req.files.sampleFile;</code><br>Here, 'sampleFile' is the form field name.</li>
  <li>In your component, on file select, use<br>
    <code>
      const file = (event.target as HTMLInputElement).files&#91;0&#93;;<br>
      this.myForm.patchValue(&#123;<br>
        &nbsp;&nbsp;sampleFile: file<br>
        &#125;);<br>
      this.myForm.get('sampleFile').updateValueAndValidity();
    </code>
  </li>
  <li>Create FormData object from FormGroup object.<br>
    <code>
      const formData: any = new FormData();<br>
      formData.append('name', this.myForm.get('name').value);<br>
      formData.append('sampleFile', this.myForm.get('sampleFile').value);<br>
      this.uploadService.uploadFormData(formData);
    </code>
  </li>
  <li>
    Call service to post data using http.post()<br>
    <code>
      uploadFormData(x: FormData) &#123;<br>
      this.http.post(url, x).subscribe(<br>
        &nbsp;&nbsp;res => console.log(res),<br>
        &nbsp;&nbsp;error => console.log(error));<br>
        &#125;
    </code>
  </li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <label>Your name</label><br>
  <input class="form-control" formControlName="name">
  <br><br>
  <input type="file" (change)="uploadFile($event)">
  <br><br>
  <button mat-raised-button color="accent"
  type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
